<div class="container-fluid about">
    <div></div>
    <div>
        <h1 data-aos="fade-down"
        data-aos-easing="linear"
        data-aos-duration="1500">Quem somos</h1>
        <p data-aos="fade-down"
        data-aos-easing="linear"
        data-aos-duration="2500">{{ description }}</p>
    </div>
    
    <div>
        <p data-aos="fade-down"
        data-aos-easing="linear"
        data-aos-duration="3000">Venha nos fazer uma  visita para conhecer nossas instalações e equipe, estamos localizados na <a href="https://goo.gl/maps/BApfEJYnnEjqey7QA" target="_blank"><i class="bi bi-geo-alt"></i></a> <span>Rua Do Caxunde, 13- Boca Do Rio, Salvador - Bahia.</span></p>
    </div>
</div>
